version: '3.8'
services:
  worker:
    image: robounord/lectio_msg_tester:1.13
    container_name: lectio_msg_tester
    command: python src/main.py
    environment:
      TZ: Europe/Copenhagen
      DOCKER_REPO: ${DOCKER_REPO}
      GITHUB_README: ${GITHUB_README}
      UPTIME_KUMA_URL: ${UPTIME_KUMA_URL}
      UPTIME_KUMA_URL_CHECK: ${UPTIME_KUMA_URL_CHECK}
      LECTIO_USER: ${LECTIO_USER}
      LECTIO_PASSWORD: ${LECTIO_PASSWORD}
      LECTIO_SCHOOL_ID: ${LECTIO_SCHOOL_ID}
      MAIN_LOOP_TIME: ${MAIN_LOOP_TIME}
      APPLITOOLS_IS_ACTIVE: ${APPLITOOLS_IS_ACTIVE}
      APPLITOOLS_API_KEY: ${APPLITOOLS_API_KEY}
